# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Files/*.h
Files/*.cpp
Console/Makefile
*.pro.user
Makefile
ui_*
build-*
moc_*
qrc_*
build/
Arduino/CityOfThieves/option.h
Arduino/CityOfThieves/option.cpp
Arduino/CityOfThieves/condition.cpp
Arduino/CityOfThieves/condition.h
Arduino/CityOfThieves/character.*
Arduino/CityOfThieves/helper.*
Arduino/CityOfThieves/item.*
Nds/source/soundbank.bin
Nds/source/soundbank.h
Nds/CityOfThieves.elf
Nds/CityOfThieves.nds
Desktop/.qmake.stash
Desktop/CityOfThievesDesktop
Console/.qmake.stash
Console/CityOfThievesConsole
Console/Makefile.Debug
Console/Makefile.Release
Desktop/Makefile.Release
Desktop/Makefile.Debug
oclint-0.10.3-x86_64-linux-3.13.0-74-generic.tar.gz
oclint-0.10.3/
