Source: cityofthieves
Maintainer: Richel Bilderbeek <richel@richelbilderbeek.nl>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: cityofthieves
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: greet user
 hithere greets the user, or the world.